* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  font-size: 18px;
}
body {
  margin: 0;
  font-family: Helvetica;
}
.post__header::after {

}
.post__header {
  float:left;
  top: 0;
  bottom: 0;
  width: 46%;
  height:100%;
  background-color: Crimson;
  padding-left: 4%;
  background-image: url("img/stargate-background.jpg");
  background-size: cover;
  color: #FFF;
  min-height: 1000px;
}
.post__header div img{
  display:inline;
  height:40px;

}

.post__header div{
  font-family: 'Gotham A';
  font-weight: lighter;
  margin-top: 20px;
  vertical-align: middle;
}

.post__header h1{
  font-family: 'Gotham A';
  font-size: 48px;
  font-weight: lighter;

}

.post__header nav{
  margin-top:20px;

}
.post__header nav ul{
    display: inline-block;
}
.line{
  border-top: 3px #c0c0c0 solid;
  width:35%;
  display: inline-block;
  margin-left:5%;
}

.post__header nav li a{
  font-family: 'Gotham A';
  font-size: 12px;
}
.post__headerNav {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Gotham A';
  font-size: 13px;
}
.post__headerNav > li {
  display: inline-block;
}
.post__headerNav > li:after {
  content: "-";
}
.post__headerNav > li:last-of-type:after {
  content: none;
}
.post__headerNav > li > a {
  color: inherit;
  text-decoration: none;
}
.post__content {
  float:right;
  width: 45%;
  margin-right:2.5%;
  margin-left:2.5%;
  min-height: 1000px;
  padding: 40px;
  line-height: 27px;
  color: #6D6D6D;
  margin-top:105px;
  border-top:3px solid #c0c0c0;
}
.post__content p {
  font-size:12px;
  font-family: Gotham, Arial, sans-serif;
}
.post__content p.last-of-type::after {
  content: url("biohazard.png");
}
