* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  font-size: 18px;
  height:100%;

}
body {
  margin: 0;
  font-family: Helvetica;
  height: 100%;
}
.post, .main{
  height:100%;
  position: relative;
  overflow: hidden;
}
.post__header {
  float:left;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 49%;
  height:100%;
  padding-left: 4%;
  background-image: url("img/stargate-background.jpg");
  background-size: cover;
  color: #FFF;
}
.post__header div img{
  display:inline;
  height:40px;

}
.post__header div span{
  vertical-align: super;
}

.post__header div{
  font-family: 'Gotham A';
  font-weight: lighter;
  margin-top: 20px;
  vertical-align: middle;
}

.post__header h1{
  font-family: 'Gotham A';
  font-size: 48px;
  font-weight: lighter;

}

.post__header nav{
  margin-top:20px;

}
.post__header nav ul{
    display: inline-block;
}
.line{
  border-top: 3px #c0c0c0 solid;
  width:35%;
  display: inline-block;
  margin-left:5%;
}

.post__header nav li a{
  font-family: 'Gotham A';
  font-size: 12px;
}
.post__headerNav {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Gotham A';
  font-size: 13px;
}
.post__headerNav > li {
  display: inline-block;
}
.post__headerNav > li:after {
  content: "-";
}
.post__headerNav > li:last-of-type:after {
  content: none;
}
.post__headerNav > li > a {
  color: inherit;
  text-decoration: none;
}
.post__content {
  float:right;
  width: 45%;
  margin-right:2.5%;
  margin-left:2.5%;
  line-height: 27px;
  color: #6D6D6D;
  margin-top:105px;
  border-top:3px solid #c0c0c0;
}
.post__content p {
  font-size:12px;
  font-family: Gotham, Arial, sans-serif;
}
.post__content:last-child::after {
  content: url("https://upload.wikimedia.org/wikipedia/en/1/16/The_Cranberries_-_Zombie.jpg");

}

@media (max-width: 600px) {
  .post__header {
    width:100%;
    height:20px;
    min-height: 400px;
  }
  .post__content{
    width:100%;
    margin:0;
    margin-top: 400px;
    padding:0 25px;
    border:0;
    clear: both;
  }

}
